
@{
    ViewData["Title"] = "Listing Page";
    DateTime projectDate = Convert.ToDateTime(ViewData["projectDate"]);
    string labelText = "NEW";

    string routeName = Context.Request.Path;
    int lastInstanceOfSlash = routeName.LastIndexOf("/");
    string routeNameId = routeName.Substring(lastInstanceOfSlash + 1);
    routeName = routeNameId.Replace("-", " ");

    List<listing> theListings = ViewData["theListings"] as List<listing>;
    listing currentListing = new listing();
    for (int i=0; i<theListings.Count; i++)
    {
        if(theListings[i].name == routeName)
        {
            currentListing = theListings[i];
        }
    }

}

<div class="content-row">
    <div class="col-sma-6">
        <h2>@routeName</h2>
        <div class="listing-info">
            <div class="listing-info__price">@currentListing.price</div>                
            <div class="listing-info__label">
                @{
                    if (DateTime.Compare(Convert.ToDateTime(@currentListing.placedOnMarket).AddDays(14), @projectDate) >= 0)
                    {
                        @labelText;
                    }
                }
            </div>
            <div class="listing-info__address">@currentListing.address</div>
            <div class="listing-info__beds"><span class="listing-info__category-text">Beds:</span> @currentListing.numberOfBedrooms</div>
            <div class="listing-info__baths"><span class="listing-info__category-text">Baths:</span> @currentListing.numberOfBathrooms</div>
            <div class="listing-info__parking-spaces"><span class="listing-info__category-text">Garage Size:</span> @currentListing.parkingSpaces car</div>
            <div class="listing-info__stories"><span class="listing-info__category-text">Stories:</span> @currentListing.numberOfStories</div>
            <div class="listing-info__year-built"><span class="listing-info__category-text">Built:</span> @currentListing.yearBuilt</div>
            <div class="listing-info__house-size"><span class="listing-info__category-text">Home:</span> @currentListing.homeSquareFootage ft&sup2;</div>
            <div class="listing-info__lot-size"><span class="listing-info__category-text">Lot:</span> @currentListing.lotSquareFootage ft&sup2;</div>
        </div>
        <div class="listing-info__short-description">@currentListing.shortDescription</div>
        <div class="listing-info__description">@currentListing.description</div>
    </div>
    <div class="col-sma-6">
        <div class="background-hero-image listing-page" style="background-image: url('@currentListing.photoFilePath')">

        </div>
    </div>
</div>
