
@using System;
@using System.Web;
@using Microsoft.AspNetCore.Html; @*For using HTML in strings*@
@using Microsoft.AspNetCore.Http;   @*For Sessions*@
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@model SuperPortlandListings.Models.ListingPageModel;

@{
    ViewData["Title"] = "Listing Page";
    DateTime projectDate = Convert.ToDateTime(ViewData["projectDate"]);
    string labelText = "NEW";

    string routeName = Context.Request.Path;
    int lastInstanceOfSlash = routeName.LastIndexOf("/");
    string routeNameId = routeName.Substring(lastInstanceOfSlash + 1);
    routeName = routeNameId.Replace("-", " ");

    string calculatorResults = "" + ViewData["calculatorResults"];
    string homePrice = "" + ViewData["homePrice"];
    string downPayment = "" + ViewData["downPayment"];
    string mortgageDuration = "" + ViewData["mortgageDuration"];
    string interestRate = "" + ViewData["interestRate"];


    List<listing> theListings = ViewData["theListings"] as List<listing>;
    listing currentListing = new listing();
    for (int i = 0; i < theListings.Count; i++)
    {
        if (theListings[i].name == routeName)
        {
            currentListing = theListings[i];
        }
    }

    List<listing> additionalListingsInitial = new List<listing>();
    List<listing> additionalListings = new List<listing>();
    for (int i = 0; i < theListings.Count; i++)
    {
        if (currentListing.name != theListings[i].name)
        {
            string curPrice = "" + currentListing.price.Replace("$", "").Replace(",", "");
            string listPrice = "" + theListings[i].price.Replace("$", "").Replace(",", "");
            decimal currentListingPrice = Convert.ToDecimal(curPrice);
            decimal theListingPrice = Convert.ToDecimal(listPrice);

            if (currentListing.city == theListings[i].city && ((theListingPrice + 100000 > currentListingPrice) && (theListingPrice - 100000 < currentListingPrice)))
            {
                additionalListingsInitial.Add(theListings[i]);
            }
        }
    }

    if (additionalListingsInitial.Count > 4)
    {
        Random rand = new Random();
        additionalListings = additionalListingsInitial.OrderBy(x => rand.Next()).Take(4).ToList();
    }
    else
    {
        additionalListings = additionalListingsInitial;
    }
}

<div class="content-row">
    <div class="col-sma-6">
        <h2>@routeName</h2>
        <div class="listing-info">
            <div class="listing-info__price">@currentListing.price</div>
            <div class="listing-info__label">
                @{
                    if (DateTime.Compare(Convert.ToDateTime(@currentListing.placedOnMarket).AddDays(14), @projectDate) >= 0)
                    {
                        @labelText;
                    }
                }
            </div>
            <div class="listing-info__address">@currentListing.address</div>
            <div class="listing-info__beds"><span class="listing-info__category-text">Beds:</span> @currentListing.numberOfBedrooms</div>
            <div class="listing-info__baths"><span class="listing-info__category-text">Baths:</span> @currentListing.numberOfBathrooms</div>
            <div class="listing-info__parking-spaces"><span class="listing-info__category-text">Garage Size:</span> @currentListing.parkingSpaces car</div>
            <div class="listing-info__stories"><span class="listing-info__category-text">Stories:</span> @currentListing.numberOfStories</div>
            <div class="listing-info__year-built"><span class="listing-info__category-text">Year Built:</span> @currentListing.yearBuilt</div>
            <div class="listing-info__house-size"><span class="listing-info__category-text">Home:</span> @currentListing.homeSquareFootage ft&sup2;</div>
            <div class="listing-info__lot-size"><span class="listing-info__category-text">Lot:</span> @currentListing.lotSquareFootage ft&sup2;</div>
            <div class="listing-info__county"><span class="listing-info__category-text">County:</span> @currentListing.county</div>
            <div class="listing-info__short-description">@currentListing.shortDescription</div>
            <div class="listing-info__description">@currentListing.description</div>
        </div>
        <div class="mortgage-estimate-calculator">
            <form class="form estimate-calculator-form" id="mortgageEstimateCalculatorForm" name="mortgageEstimateCalculatorForm" method="post">
                <h3 class="mortgage-estimate-calculator__title">Estimate Mortgage</h3>
                <div class="form__required">** - Required Field</div>
                <div class="form__input-container">
                    <label class="form__label" for="homePrice">Home Price **</label>
                    <input id="homePrice" class="form__input" type="text" name="homePrice" />
                    <div class="clear-both"></div>
                </div>
                <div class="form__input-container">
                    <label class="form__label" for="downPayment">Down Payment **</label>
                    <input id="downPayment" class="form__input" type="text" name="downPayment" />
                    <div class="clear-both"></div>
                </div>
                <div class="form__input-container">
                    <label class="form__label" for="mortgageDuration">Mortgage Duration (years) **</label>
                    <input id="mortgageDuration" class="form__input" type="text" name="mortgageDuration" />
                    <div class="clear-both"></div>
                </div>
                <div class="form__input-container">
                    <label class="form__label" for="interestRate">Interest Rate **</label>
                    <input id="interestRate" class="form__input" type="text" name="interestRate" />
                    <div class="clear-both"></div>
                </div>
                <div class="form__input-container">
                    <input asp-page-handler="MortgageEstimateCalculatorSection" id="estimateMortgageButton" class="form__submit-button button-container" type="submit" name="estimateMortgageButton" value="Estimate Mortgage!" />
                    <div class="form__errors"></div>
                </div>
            </form>
            <div class="javascript-validation-results-contact-us"></div>
            @{
                <div class="form-response">
                    <span>Price: </span> @homePrice
                    <span>Down Payment: </span> @downPayment
                    <span>Mortgage Duration: </span> @mortgageDuration
                    <span>Interest Rate: </span> @interestRate
                     @(new HtmlString(@calculatorResults))
                </div>
            }
        </div>
    </div>
    <div class="col-sma-6">
        <div class="background-hero-image listing-page" style="background-image: url('@currentListing.photoFilePath')">

        </div>
    </div>
</div>

<div class="content-row">
    @{
        if (@additionalListings.Count > 0)
        {
            <h3 class="listings-page__subheading">More Listings to See:</h3>
        }
    }
    @for (int i = 0; i < @additionalListings.Count; i++)
    {
        <div class="additional-listing col-vsm-6 col-lar-3">
            <div class="additional-listing__photo" style="background-image: url('@additionalListings[i].photoFilePath');">
                <a class="additional-listing__photo-link" asp-area="" asp-controller="Home" asp-action="ListingPage" asp-route-id="@additionalListings[i].name.Replace(" ", "-")"></a>
            </div>
            <div class="additional-listing__name">
                <a class="additional-listing__name-link" asp-area="" asp-controller="Home" asp-action="ListingPage" asp-route-id="@additionalListings[i].name.Replace(" ", "-")">@additionalListings[i].name</a>
            </div>
            <div class="additional-listing__cost">@additionalListings[i].price</div>
            <div class="additional-listing__address">@additionalListings[i].address</div>
            <div class="additional-listing__beds">@additionalListings[i].numberOfBedrooms bed</div>
            <div class="additional-listing__baths">@additionalListings[i].numberOfBathrooms bath</div>
        </div>
    }
</div>
