

@using System;
@using System.Web;
@using Microsoft.AspNetCore.Html; @*For using HTML in strings*@

@model SuperPortlandListings.Models.ListingsModel;

@{
    ViewData["Title"] = "Listings";
    var searchResults = ViewData["searchResults"];
    string searchCity = "" + ViewData["searchCity"];
    string searchByOptions = "" + ViewData["searchByOptions"];
    string displayAll = "" + ViewData["displayAll"];


    listing listing0 = new listing("Cheery Neigborhood House", "zero", "Hillsboro", "22110 SW Hillsboro 97123", "$450,000", "January 15, 2020", "2005", "2500", "5000", "4", "2", "2",
        "Cheery Neigborhood House", "This house is great. You should visit it and buy it if you like it.");
    listing listing1 = new listing("Perfect for Families", "one", "Hillsboro", "22111 SW Hillsboro 97123", "$460,000", "January 6, 2020", "2005", "2500", "5000", "4", "2", "2",
        "Perfect for Families", "This house is great. You should visit it and buy it if you like it.");
    listing listing2 = new listing("One Story Southwestern Style Home", "two", "Hillsboro", "22112 SW Hillsboro 97123", "$449,000", "January 12, 2020", "2005", "2500", "5000", "4", "2", "2",
        "One Story Southwestern Style Home", "This house is great. You should visit it and buy it if you like it.");

    listing listing3 = new listing("Big Front Yard with this Home", "three", "Forest Grove", "22110 SW Hillsboro 97116", "$450,000", "January 12, 2020", "2005", "2500", "5000", "4", "2", "2",
        "Big Front Yard with this Home", "This house is great. You should visit it and buy it if you like it.");
    listing listing4 = new listing("Perfect for Growing Families", "four", "Forest Grove", "22111 SW Hillsboro 97116", "$451,000", "January 19, 2020", "2005", "2500", "5000", "4", "2", "2",
        "Perfect for Growing Families", "This house is great. You should visit it and buy it if you like it.");
    listing listing5 = new listing("Charming One Story Home", "five", "Forest Grove", "22112 SW Hillsboro 97116", "$425,000", "January 11, 2020", "2005", "2500", "5000", "4", "2", "2",
        "Charming One Story Home", "This house is great. You should visit it and buy it if you like it.");

    listing listing6 = new listing("New House, Refined Look", "six", "Cornelius", "22110 SW Cornelius 97113", "$449,000", "January 11, 2020", "2005", "2500", "5000", "4", "2", "2",
        "New House, Refined Look", "This house is great. You should visit it and buy it if you like it.");
    listing listing7 = new listing("Perfect for Families", "seven", "Cornelius", "22111 SW Cornelius 97113", "$471,000", "January 25, 2020", "2005", "2500", "5000", "4", "2", "2",
        "Perfect for Families", "This house is great. You should visit it and buy it if you like it.");


    List<listing> theListings = new List<listing>();
    theListings.Add(listing0);
    theListings.Add(listing1);
    theListings.Add(listing2);
    theListings.Add(listing3);
    theListings.Add(listing4);
    theListings.Add(listing5);
    theListings.Add(listing6);
    theListings.Add(listing7);

    List<listing> reorderedListings = new List<listing>();

}
<div class="content-row">
    <div class="col-sma-3">
        <h2>Listings</h2>
        <p>A home perfect for you.  Call a friendly agent at 503-272-3322.</p>
    </div>
    <div class="col-sma-9">
        <div class="search-listings">
            <h3>Search Listings</h3>
            <form id="" class="" method="post">
                <div class="search-listings__subsection">
                    <label for="searchCity">Show by City</label>
                    <select id="searchCity" name="searchCity">
                        <option value=""></option>
                        <option value="Aloha">Aloha</option>
                        <option value="Beaverton">Beaverton</option>
                        <option value="Cornelius">Cornelius</option>
                        <option value="Forest Grove">Forest Grove</option>
                        <option value="Hillsboro">Hillsboro</option>
                    </select>
                </div>
                <div class="search-listings__subsection">
                    <label for="searchByOptions">Order By</label>
                    <select id="searchByOptions" name="searchByOptions">
                        <option value=""></option>
                        <option value="PriceAsc">Price low to high</option>
                        <option value="PriceDesc">Price high to low</option>
                        <option value="HouseSizeAsc">House Size low to high</option>
                        <option value="HouseSizeDesc">House Size high to low</option>
                    </select>
                </div>
                <div class="search-listings__subsection">
                    <input type="submit" class="search-listings__search" asp-page-handler="ListingsCitySection" value="Search" />
                </div>
                <div class="search-listings__subsection">
                    <input type="submit" id="searchListingsShowAll" name="searchListingsShowAll" class="search-listings__show-all" asp-page-handler="ListingsShowAllSection" value="Show All" />
                </div>
                <div class="clear-both"></div>
                <div class="search-listings__search-response">
                    @(new HtmlString("" + @searchResults))
                </div>
                <div class="clear-both"></div>
            </form>
        </div>
    </div>
</div>

<div class="content-row">
    <h3 class="listings__content-subtitle">Search Results</h3>

    @{
        string startingNames = "";
        string endingNames = "";


        @for (var i = 0; i < theListings.Count; i++)
        {
            startingNames += " " + theListings[i].name;
        }

        if (searchByOptions == "PriceAsc")
        {
            reorderedListings = theListings.OrderBy(theListings => theListings.price).ToList();
        } else if (searchByOptions == "PriceDesc")
        {
            reorderedListings = theListings.OrderByDescending(theListings => theListings.price).ToList();
        }
        else
        {
            reorderedListings = theListings;
        }
    }


    @for (var i = 0; i < reorderedListings.Count; i++)
    {
        endingNames += " " + reorderedListings[i].name;
    }


    @for (var i = 0; i < reorderedListings.Count; i++)
    {
        var hideString = "";

        if (@searchCity == "")
        {
            hideString = "";
        }
        else
        {
            if (@searchCity != reorderedListings[i].city)
            {
                hideString = "hide";
            }
        }


        <div class="col-sma-6 col-lar-4 house-container @reorderedListings[i].classCSS @hideString">
            <div class="house-container__image-container">
                <div class="house-container__image"></div>
            </div>
            <div class="house-container__non-bg-content">
                <div class="house-container__title">@reorderedListings[i].name</div>
                <div class="house-container__cost">@reorderedListings[i].price</div>
                <div class="house-container__label">NEW</div>
                <div class="house-container__details">
                    <div class="house-container__details__beds">@reorderedListings[i].numberOfBedrooms bd</div>
                    <div class="house-container__details__baths">@reorderedListings[i].numberOfBathrooms ba</div>
                    <div class="house-container__details__parking-spaces">@reorderedListings[i].parkingSpaces car</div>
                    <div class="house-container__details__year-built">Built: @reorderedListings[i].yearBuilt</div>
                    <div class="house-container__detials__house-size">Home: @reorderedListings[i].homeSquareFootage ft&sup2;</div>
                    <div class="house-container__detials__lot-size">Lot: @reorderedListings[i].lotSquareFootage ft&sup2;</div>
                </div>
                <div class="house-container__location">@reorderedListings[i].address</div>
                <div class="house-container__description">@reorderedListings[i].description</div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    for (let i = 0; i < 8; i++) {
        document.getElementsByClassName("house-container__image")[i].addEventListener("mouseover", function () {
            addHoverClass(i);
        });

        document.getElementsByClassName("house-container__image")[i].addEventListener("mouseout", function () {
            addOutClass(i);
        });
    }

    function addHoverClass(itemNumber) {
        document.getElementsByClassName("house-container__image")[itemNumber].classList.toggle("over");
        document.getElementsByClassName("house-container__image")[itemNumber].classList.remove("out");
    }

    function addOutClass(itemNumber) {
        document.getElementsByClassName("house-container__image")[itemNumber].classList.remove("over");
        document.getElementsByClassName("house-container__image")[itemNumber].classList.toggle("out");
    }
</script>
