

@using System;
@using System.Web;
@using Microsoft.AspNetCore.Html; @*For using HTML in strings*@
@using Microsoft.AspNetCore.Http;   @*For Sessions*@
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


@model SuperPortlandListings.Models.ListingsModel;

@{
    ViewData["Title"] = "Listings";
    List<listing> theListings = ViewData["theListings"] as List<listing>;
    DateTime projectDate = Convert.ToDateTime(ViewData["projectDate"]);
    string labelText = "NEW";

    var searchResults = ViewData["searchResults"];
    string searchCity = "" + ViewData["searchCity"];
    string searchBeds = "" + ViewData["searchBeds"];
    string searchBaths = "" + ViewData["searchBaths"];
    string searchParkingSpaces = "" + ViewData["searchParkingSpaces"];
    string searchStories = "" + ViewData["searchStories"];
    string searchPriceRange = "" + ViewData["searchPriceRange"];
    string searchByOptions = "" + ViewData["searchByOptions"];
    string displayAll = "" + ViewData["displayAll"];


    List<listing> reorderedListings = new List<listing>();
    List<listing> finalListings = new List<listing>();
}


@{
    if (searchByOptions == "Price")
    {
        reorderedListings = theListings.OrderBy(theListings => theListings.price).ToList();
    }
    else if (searchByOptions == "Price (decreasing)")
    {
        reorderedListings = theListings.OrderByDescending(theListings => theListings.price).ToList();
    }
    else if (searchByOptions == "House Size")
    {
        reorderedListings = theListings.OrderBy(theListings => theListings.homeSquareFootage).ToList();
    }
    else if (searchByOptions == "House Size (decreasing)")
    {
        reorderedListings = theListings.OrderByDescending(theListings => theListings.homeSquareFootage).ToList();
    }
    else if (searchByOptions == "Lot Size")
    {
        reorderedListings = theListings.OrderBy(theListings => theListings.lotSquareFootage).ToList();
    }
    else if (searchByOptions == "Lot Size (decreasing)")
    {
        reorderedListings = theListings.OrderByDescending(theListings => theListings.lotSquareFootage).ToList();
    }
    else
    {
        reorderedListings = theListings;
    }
}


@for (var i = 0; i < reorderedListings.Count; i++)
{

    bool validListing = true;


    if (@searchCity != "" && @searchCity != reorderedListings[i].city)
    {
        validListing = false;
    }

    if (@searchBeds != "" && Convert.ToInt32(@searchBeds) > Convert.ToInt32(reorderedListings[i].numberOfBedrooms))
    {
        validListing = false;
    }

    if (@searchBaths != "" && Convert.ToInt32(@searchBaths) > Convert.ToInt32(reorderedListings[i].numberOfBathrooms))
    {
        validListing = false;
    }

    if (@searchParkingSpaces != "" && Convert.ToInt32(@searchParkingSpaces) != Convert.ToInt32(reorderedListings[i].parkingSpaces))
    {
        validListing = false;
    }

    if (@searchStories != "" && @searchStories != reorderedListings[i].numberOfStories)
    {
        validListing = false;
    }

    if (validListing)
    {
        if (@searchPriceRange != "")
        {
            var inPriceRange = false;
            decimal listingPrice = Convert.ToDecimal(reorderedListings[i].price.Replace("$", ""));

            if (@searchPriceRange == "Under $200,000")
            {
                if (listingPrice < 200000)
                {
                    inPriceRange = true;
                }
            }
            else if (@searchPriceRange == "$200,000 - $399,999")
            {
                if (listingPrice >= 200000 && listingPrice < 400000)
                {
                    inPriceRange = true;
                }
            }
            else if (@searchPriceRange == "$400,000 - $599,999")
            {
                if (listingPrice >= 400000 && listingPrice < 600000)
                {
                    inPriceRange = true;
                }
            }
            else if (@searchPriceRange == "$600,000 - $799,999")
            {
                if (listingPrice >= 600000 && listingPrice < 800000)
                {
                    inPriceRange = true;
                }
            }
            else if (@searchPriceRange == "$800,000 - $999,999")
            {
                if (listingPrice >= 800000 && listingPrice < 1000000)
                {
                    inPriceRange = true;
                }
            }
            else if (@searchPriceRange == "$1 Million+")
            {
                if (listingPrice >= 1000000)
                {
                    inPriceRange = true;
                }
            }

            if (inPriceRange == false)
            {
                validListing = false;
            }
        }
    }

    if (validListing)
    {
        finalListings.Add(reorderedListings[i]);
    }
}

@{
    ViewData["listingsSummaryText"] = "" + Convert.ToString(finalListings.Count);
}


<div class="content-row">
    <div class="col-sma-12">
        <div class="search-listings">
            <h3>Search Listings</h3>
            <form id="searchListings" class="search-listings" method="post">
                <div class="search-listings__subsection">
                    <label class="search-listings__label" for="searchCity">City</label>
                    <select id="searchCity" name="searchCity">
                        <option value=""></option>
                        <!option value="Aloha" @(@searchCity == "Aloha" ? "selected" : "")>Aloha</!option>
                        <!option value="Beaverton" @(@searchCity == "Beaverton" ? "selected" : "")>Beaverton</!option>
                        <!option value="Cornelius" @(@searchCity == "Cornelius" ? "selected" : "")>Cornelius</!option>
                        <!option value="Forest Grove" @(@searchCity == "Forest Grove" ? "selected" : "")>Forest Grove</!option>
                        <!option value="Hillsboro" @(@searchCity == "Hillsboro" ? "selected" : "")>Hillsboro</!option>
                    </select>
                </div>
                <div class="search-listings__subsection">
                    <label class="search-listings__label" for="searchBeds">Beds</label>
                    <select id="searchBeds" name="searchBeds">
                        <option value=""></option>
                        <!option value="1" @(@searchBeds == "1" ? "selected" : "")>1+</!option>
                        <!option value="2" @(@searchBeds == "2" ? "selected" : "")>2+</!option>
                        <!option value="3" @(@searchBeds == "3" ? "selected" : "")>3+</!option>
                        <!option value="4" @(@searchBeds == "4" ? "selected" : "")>4+</!option>
                        <!option value="5" @(@searchBeds == "5" ? "selected" : "")>5+</!option>
                        <!option value="6" @(@searchBeds == "6" ? "selected" : "")>6+</!option>
                        <!option value="7" @(@searchBeds == "7" ? "selected" : "")>7+</!option>
                    </select>
                </div>
                <div class="search-listings__subsection">
                    <label class="search-listings__label" for="searchBaths">Baths</label>
                    <select id="searchBaths" name="searchBaths">
                        <option value=""></option>
                        <!option value="1" @(@searchBaths == "1" ? "selected" : "")>1+</!option>
                        <!option value="2" @(@searchBaths == "2" ? "selected" : "")>2+</!option>
                        <!option value="3" @(@searchBaths == "3" ? "selected" : "")>3+</!option>
                        <!option value="4" @(@searchBaths == "4" ? "selected" : "")>4+</!option>
                        <!option value="5" @(@searchBaths == "5" ? "selected" : "")>5+</!option>
                    </select>
                </div>
                <div class="search-listings__subsection">
                    <label class="search-listings__label" for="searchParkingSpaces">Garage</label>
                    <select id="searchParkingSpaces" name="searchParkingSpaces">
                        <option value=""></option>
                        <!option value="1" @(@searchParkingSpaces == "1" ? "selected" : "")>1</!option>
                        <!option value="2" @(@searchParkingSpaces == "2" ? "selected" : "")>2</!option>
                        <!option value="3" @(@searchParkingSpaces == "3" ? "selected" : "")>3</!option>
                    </select>
                </div>
                <div class="search-listings__subsection">
                    <label class="search-listings__label" for="searchStories">Stories</label>
                    <select id="searchStories" name="searchStories">
                        <option value=""></option>
                        <!option value="1" @(@searchStories == "1" ? "selected" : "")>1</!option>
                        <!option value="2" @(@searchStories == "2" ? "selected" : "")>2</!option>
                        <!option value="3" @(@searchStories == "3" ? "selected" : "")>3</!option>
                    </select>
                </div>
                <div class="search-listings__subsection">
                    <label class="search-listings__label" for="searchPriceRange">Price Range</label>
                    <select id="searchPriceRange" name="searchPriceRange">
                        <option value=""></option>
                        <!option value="Under $200,000" @(@searchPriceRange == "Under $200,000" ? "selected" : "")>Under $200,000</!option>
                        <!option value="$200,000 - $399,999" @(@searchPriceRange == "$200,000 - $399,999" ? "selected" : "")>$200,000 - $399,999</!option>
                        <!option value="$400,000 - $599,999" @(@searchPriceRange == "$400,000 - $599,999" ? "selected" : "")>$400,000 - $599,999</!option>
                        <!option value="$600,000 - $799,999" @(@searchPriceRange == "$600,000 - $799,999" ? "selected" : "")>$600,000 - $799,999</!option>
                        <!option value="$800,000 - $999,999" @(@searchPriceRange == "$800,000 - $999,999" ? "selected" : "")>$800,000 - $999,999</!option>
                        <!option value="$1 Million+" @(@searchPriceRange == "$1 Million" ? "selected" : "")>$1 Million+</!option>
                    </select>
                </div>
                <div class="search-listings__subsection">
                    <label class="search-listings__label" for="searchByOptions">Order By</label>
                    <select id="searchByOptions" name="searchByOptions">
                        <option value=""></option>
                        <!option value="Price" @(@searchByOptions == "Price" ? "selected" : "")>Price</!option>
                        <!option value="Price (decreasing)" @(@searchByOptions == "Price (decreasing)" ? "selected" : "")>Price (decreasing)</!option>
                        <!option value="House Size" @(@searchByOptions == "House Size" ? "selected" : "")>House Size</!option>
                        <!option value="House Size (decreasing)" @(@searchByOptions == "House Size (decreasing)" ? "selected" : "")>House Size (decreasing)</!option>
                        <!option value="Lot Size" @(@searchByOptions == "Lot Size" ? "selected" : "")>Lot Size</!option>
                        <!option value="Lot Size (decreasing)" @(@searchByOptions == "Lot Size (decreasing)" ? "selected" : "")>Lot Size (decreasing)</!option>
                    </select>
                </div>
                <div class="search-listings__subsection">
                    <input type="submit" class="search-listings__search" asp-page-handler="ListingsCitySection" value="Search" />
                </div>
                <div class="search-listings__subsection">
                    <input type="submit" id="searchListingsShowAll" name="searchListingsShowAll" class="search-listings__show-all" asp-page-handler="ListingsShowAllSection" value="Show All" />
                </div>
                <div class="clear-both"></div>
                <div class="search-listings__subsection">
                    <div class="search-listings__search-response">
                        Listings shown: <strong>@ViewData["listingsSummaryText"]</strong>. @(new HtmlString("" + @searchResults))
                    </div>
                </div>
                <div class="clear-both"></div>
            </form>
        </div>
    </div>
</div>

<div class="content-row">
    <h3 class="listings__content-subtitle">Search Results</h3>
    @for (int i = 0; i < finalListings.Count; i++)
    {
        <div class="col-sma-6 col-lar-4 house-container @finalListings[i].classCSS">
            <div class="house-container__image-container">
                <a class="house-container__link" asp-area="" asp-controller="Home" asp-action="ListingPage" asp-route-id="@finalListings[i].name.Replace(" ", "-")">
                    <div class="house-container__image" style="background-image: url('@finalListings[i].photoFilePath')"></div>
                </a>
            </div>
            <div class="house-container__non-bg-content">
                <div class="house-container__title">@finalListings[i].name</div>
                <div class="house-container__cost">@finalListings[i].price</div>
                <div class="house-container__label">
                    @{
                        if (DateTime.Compare(Convert.ToDateTime(@finalListings[i].placedOnMarket).AddDays(14), @projectDate) >= 0)
                        {
                            @labelText;
                        }
                    }
                </div>
                <div class="house-container__details">
                    <div class="house-container__location">@finalListings[i].address</div>
                    <div class="house-container__details__beds">@finalListings[i].numberOfBedrooms bd</div>
                    <div class="house-container__details__baths">@finalListings[i].numberOfBathrooms ba</div>
                    <div class="house-container__details__parking-spaces">@finalListings[i].parkingSpaces car</div>
                    <div class="house-container__details__stories">@finalListings[i].numberOfStories story</div><br />
                    <div class="house-container__detials__house-size">Home: @finalListings[i].homeSquareFootage ft&sup2;</div>
                    <div class="house-container__detials__lot-size">Lot: @finalListings[i].lotSquareFootage ft&sup2;</div>
                </div>
                <div class="house-container__description">@finalListings[i].shortDescription</div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    for (let i = 0; i < $(".house-container__image").length; i++) {
        $(".house-container__image").eq(i).on("mouseover", function () {
            addHoverClass(i);
        });

        $(".house-container__image").eq(i).on("mouseout", function () {
            addOutClass(i);
        });
    }

    function addHoverClass(itemNumber) {
        $(".house-container__image").eq(itemNumber).toggleClass("over");
        $(".house-container__image").eq(itemNumber).removeClass("out");
    }

    function addOutClass(itemNumber) {
        $(".house-container__image").eq(itemNumber).removeClass("over");
        $(".house-container__image").eq(itemNumber).toggleClass("out");
    }
</script>
