
@{
    ViewData["Title"] = "Listing Page";
    DateTime projectDate = Convert.ToDateTime(ViewData["projectDate"]);
    string labelText = "NEW";

    string routeName = Context.Request.Path;
    int lastInstanceOfSlash = routeName.LastIndexOf("/");
    string routeNameId = routeName.Substring(lastInstanceOfSlash + 1);
    routeName = routeNameId.Replace("-", " ");

    List<listing> theListings = ViewData["theListings"] as List<listing>;
    listing currentListing = new listing();
    for (int i = 0; i < theListings.Count; i++)
    {
        if (theListings[i].name == routeName)
        {
            currentListing = theListings[i];
        }
    }

    List<listing> additionalListingsInitial = new List<listing>();
    List<listing> additionalListings = new List<listing>();
    for (int i = 0; i < theListings.Count; i++)
    {
        if (currentListing.name != theListings[i].name)
        {
            string curPrice = "" + currentListing.price.Replace("$", "").Replace(",", "");
            string listPrice = "" + theListings[i].price.Replace("$", "").Replace(",", "");
            decimal currentListingPrice = Convert.ToDecimal(curPrice);
            decimal theListingPrice = Convert.ToDecimal(listPrice);

            if (currentListing.city == theListings[i].city && ((theListingPrice + 100000 > currentListingPrice) && (theListingPrice - 100000 < currentListingPrice)))
            {
                additionalListingsInitial.Add(theListings[i]);
            }
        }
    }

    if (additionalListingsInitial.Count > 4)
    {
        Random rand = new Random();
        additionalListings = additionalListingsInitial.OrderBy(x => rand.Next()).Take(4).ToList();
    }
    else
    {
        additionalListings = additionalListingsInitial;
    }
}

<div class="content-row">
    <div class="col-sma-6">
        <h2>@routeName</h2>
        <div class="listing-info">
            <div class="listing-info__price">@currentListing.price</div>
            <div class="listing-info__label">
                @{
                    if (DateTime.Compare(Convert.ToDateTime(@currentListing.placedOnMarket).AddDays(14), @projectDate) >= 0)
                    {
                        @labelText;
                    }
                }
            </div>
            <div class="listing-info__address">@currentListing.address</div>
            <div class="listing-info__beds"><span class="listing-info__category-text">Beds:</span> @currentListing.numberOfBedrooms</div>
            <div class="listing-info__baths"><span class="listing-info__category-text">Baths:</span> @currentListing.numberOfBathrooms</div>
            <div class="listing-info__parking-spaces"><span class="listing-info__category-text">Garage Size:</span> @currentListing.parkingSpaces car</div>
            <div class="listing-info__stories"><span class="listing-info__category-text">Stories:</span> @currentListing.numberOfStories</div>
            <div class="listing-info__year-built"><span class="listing-info__category-text">Year Built:</span> @currentListing.yearBuilt</div>
            <div class="listing-info__house-size"><span class="listing-info__category-text">Home:</span> @currentListing.homeSquareFootage ft&sup2;</div>
            <div class="listing-info__lot-size"><span class="listing-info__category-text">Lot:</span> @currentListing.lotSquareFootage ft&sup2;</div>
            <div class="listing-info__county"><span class="listing-info__category-text">County:</span> @currentListing.county</div>
        </div>
        <div class="listing-info__short-description">@currentListing.shortDescription</div>
        <div class="listing-info__description">@currentListing.description</div>
    </div>
    <div class="col-sma-6">
        <div class="background-hero-image listing-page" style="background-image: url('@currentListing.photoFilePath')">

        </div>
    </div>
</div>

<div class="content-row">
    @{
        if (@additionalListings.Count > 0)
        {
            <h3>More Listings to See:</h3>
        }
    }
    @for (int i = 0; i < @additionalListings.Count; i++)
    {
        <div class="additional-listing col-vsm-6 col-lar-3">
            <div class="additional-listing__name">@additionalListings[i].name</div>
            <div class="additional-listing__cost">@additionalListings[i].price</div>
            <div class="additional-listing__address">@additionalListings[i].address</div>
            <div class="additional-listing__photo" style="background-image: url('@additionalListings[i].photoFilePath');"></div>
        </div>
    }
</div>
