
@{
    ViewData["Title"] = "Listing Page";
    string routeName = Context.Request.Path;
    int lastInstanceOfSlash = routeName.LastIndexOf("/");
    string routeNameId = routeName.Substring(lastInstanceOfSlash + 1);
    routeName = routeNameId.Replace("-", " ");

    List<listing> theListings = ViewData["theListings"] as List<listing>;
    listing currentListing = new listing();
    for (int i=0; i<theListings.Count; i++)
    {
        if(theListings[i].name == routeName)
        {
            currentListing = theListings[i];
        }
    }

}

<div class="content-row">
    <div class="col-sma-6">
        <h2>@routeName</h2>
        <div class="listing-info">
            <div class="listing-info__price">@currentListing.price</div>
            <div class="listing-info__address">@currentListing.address</div>
            <div class="listing-info__placed-on-market">Listed on: @currentListing.placedOnMarket </div>
            <div class="listing-info__beds">@currentListing.numberOfBedrooms Beds</div>
            <div class="listing-info__baths">@currentListing.numberOfBathrooms Baths</div>
            <div class="listing-info__parking-spaces">@currentListing.parkingSpaces Car Garage</div>
            <div class="listing-info__stories">Stories: @currentListing.numberOfStories </div>
            <div class="listing-info__year-built">Built: @currentListing.yearBuilt</div>
            <div class="listing-info__house-size">Home: @currentListing.homeSquareFootage ft&sup2;</div>
            <div class="listing-info__lot-size">Lot: @currentListing.lotSquareFootage ft&sup2;</div>
        </div>
        <p>@currentListing.shortDescription</p>
        <p>@currentListing.description</p>
    </div>
    <div class="col-sma-6">
        <div class="background-hero-image listing-page" style="background-image: url('@currentListing.photoFilePath')">

        </div>
    </div>
</div>
